<%include header%>

<!-- Side Menu -->
<%include sidemenu %>
<!-- /Side Menu -->


<div id="viewer">

</div>
<div id="breadcrumb">
    <ul class="crumbs">
        <li class="first"><a href="#" style="z-index:9;"><i class="glyphicon glyphicon-home"></i></a></li>
        <li><a href="#" style="z-index:8;">NOO</a></li>
        <li><a href="#" style="z-index:7;">SHIT</a></li>
        <li><a href="#" style="z-index:6;">NOOO</a></li>
    </ul>
</div>

<%include footer%>

