<%include header%>

<!-- Side Menu -->
<%include sidemenu %>
<!-- /Side Menu -->


<div id="viewer">

</div>
<div id="breadcrumb">
    <ul class="crumbs" id = "hierarchy">
        <li class="h_node" id = "home"><a href="#" style="z-index:9;"><i class="glyphicon glyphicon-home"></i></a></li>
    </ul>
</div>

<%include footer%>

