<!DOCTYPE html>
<!doctype html>
<html lang="en">
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <script type="text/javascript" src="javascripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="javascripts/webgl_core.js"></script>
<script type="text/javascript" src="javascripts/three.min.js"></script>

</head>

<body>
<div id="header">
    <div>
        <h1 id="logo"/>Explorer</h1>
    </div>
    <div id="account">
        <h2>BETA</h2>
    </div>
</div>

<div id="viewer">

</div>

<div id="footer">
    <table>
        <tr>
            <td>
                <div class="nav_button">
                    <h2>Room</h2>
                </div>
            </td>
            <td>
                <div class="nav_button">
                    <h2>Bookshelf</h2>
                </div>
            </td>
            <td>
                <div class="nav_button">
                    <h2>Jukebox</h2>
                </div>
            </td>
            <td>
                <div class="nav_button">
                    <h2>Photo Album</h2>
                </div>
            </td>
            <td>
                <div class="nav_button">
                    <h2>TV</h2>
                </div>
            </td>

        </tr>
    </table>
</div>

</body>
</html>