<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="glyphicon glyphicon-user"></i></a>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="glyphicon glyphicon-user"></i></a>
        <li class="sidebar-brand"><a href="/3dexplorer">3DExplorer</a></li>
        <li><a class="create_directory" href="#">Create Directory</a></li>
        <li id = "directory_name">

            <form align="center">
                <fieldset >
                    <legend>Directory Name</legend>
                    <input type="text" placeholder="enter text">
                    <button type="submit" class="btn">Submit</button>
                </fieldset>
            </form>
        </li>
    </ul>
</div>